
<!DOCTYPE html>
<html>
 <h1>ようこそ Bookersへ！</h1>

  <p class=line> <b>Bookers</b>では、さまざまな書籍に関するあなたの意見や</p>

  <p class= line>印象を共有し交換することができます</p>

  <p claa= start><%= link_to "start", Book.new%></p>
</html>